<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNI1TBhXChHrUEvVmZ1bCKS8AE-LBn9Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>860850415426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spier.pustoffspy</string>
	<key>PROJECT_ID</key>
	<string>spy-app-5fd36</string>
	<key>STORAGE_BUCKET</key>
	<string>spy-app-5fd36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860850415426:ios:add8270247cb5d9229cadb</string>
</dict>
</plist>